


/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

/* Style the header links */
.bimg{
    width: 100%;

    position: absolute;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: white;
}
.logOut{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.logOut:hover{
    background-color: #ddd;
    color: black;
}
.logOut.active{
    background-color: dodgerblue;
    color: white;
}
/* Float the link section to the right */
.header-right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

/* Inputs in index.jsp */
.button{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.sportBtn{
    background-color: white;
    color: black;
    border: 2px solid  #f44336;
    width: 100px;
    height: 50px;
}
.sportBtn:hover{
    background-color: #f44336;
    color: white;
}

.furnitureBtn{
    background-color: white;
    color: black;
    border: 2px solid darkorange;
    width: 100px;
    height: 50px;
}
.furnitureBtn:hover{
    background-color: darkorange;
    color: white;
}
.gadgetsBtn{
    background-color: white;
    color: black;
    border: 2px solid yellow;
    width: 100px;
    height: 50px;
}
.gadgetsBtn:hover{
    background-color: yellow;
    color: white;
}

.clothesBtn {
    background-color: white;
    color: black;
    border: 2px solid green;
    width: 100px;
    height: 50px;
}
.clothesBtn:hover {
    background-color: green;
}

.allBtn {
    background-color: white;
    color: black;
    border: 2px solid dodgerblue;
    width: 100px;
    height: 50px;
}

.allBtn:hover {
    background-color: dodgerblue;
    color: white;
}

.itemDiv{
    border: 2px solid black;
    margin: 0 7px;
}

.inputs{
    text-align: center;
}

#itemName{
    color: mediumvioletred;
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
}

#itemPrice{
    text-align: center;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.form {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
}

.studentsFormH {
    margin:0 0 10px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    color:blue;
    border-bottom:solid 1px #e5e5e5;
}
.studentsFormP {
    margin: 0 0 3px 0;
    position: relative;
}
.studentsFormInput {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.2em;
    padding: 1.3em 1.4em 0;
    border-radius: 2px;
}
.studentsFormInput:focus{
    background: #fff
}
span {
    display:block;
    background: #F9A5A5;
    margin-top: 17px;
    padding: 2px 5px;
    color: #666;
    width: 250px;
}
.studentsFormInputSubmit {
    background: blue;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    line-height: 1.6em;
    margin: 25px 15px;
    outline: none;
    text-shadow: 0 1px dodgerblue;
}
.studentsFormInputSubmit:hover {
    background: dodgerblue;
}
.floatLabel {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 2px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
}


